@charset "utf-8";

*{ margin:0px; padding:0px; font-family: "微软雅黑"};
img{ border:none;}
a{text-decoration:none;}
.clear{ clear:both;}
/*html5*/
abbr, article, aside, audio, canvas, datalist, details, dialog, eventsource, figure, footer, header, hgroup, mark, menu, meter, nav, output, progress, section, time, video { display: block; }
address { display: inline; }
/**/
*{  padding:0px; margin:0px;}
body{font-family:"微软雅黑";}
ul,li,image,h1,h2,h3,h4,dl,dt,dd,p,span,a{padding:0; margin:0; list-style:none; border:0; font-family:"微软雅黑";}
h1,h2,h3,h4{font-family:"微软雅黑"; border:0px; margin:0px; padding:0px; font-weight:normal;}
img{ padding:0px; border:0px;}
a{ color:#000; text-decoration:none;}
a:hover{text-decoration:none; text-decoration:underline;}
input,button,select,textarea{outline:none; border: none; background: none;}
textarea{resize:none}
/*{  behavior: url(css/PIE.htc); position: relative;}*/
/*  容器设置  */
#content{ 
	width: 100%;
	border-bottom: 2px solid red;
}
/*  顶部导航  */
.top_div{ 
	width:100%;
	background: #fafafa;
}
#top{ 
	width: 1240px;
	height: 20px;
	padding: 5px 0;
	font-size: 12px;
	background: #fafafa;
	margin: 0 auto;
	position: relative;
}
#top ul{ 
	position: absolute;
	right: 0;
}	
#top ul li{ 
	float: left;
	border-right: 1px solid #afafaf;
	padding:0 10px;
}
.top_li{
	position: relative;
}
.top_li:hover{
	height: 25px;
	background: #fff; 
}
.top_img{
	width: 120px;
	height: 120px;
	line-height: 120px;
	background: #fff;
	position: absolute;
	top: 25px;
	left: -1px;
	display: none;
	border-right: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.top_img img{
	width: 100px;
	margin: 10px 0 0 10px;
}
.top_li:hover .top_img{
	display: block;
}
/*  头部 */
#header{ 
	width: 100%;
	margin: 0 auto;
	background: #fff;
}
#area{ 
	width: 1240px;
	margin: 0 auto;
	height: 80px;
	line-height: 80px;
}
#area .logo{ 
	width: 197px;
	float: left;
	padding-right: 55px;
	margin-top: 16px;
}
#area .serrch{ 
	float: left;
	width: 450px;
	height: 35px;
}
.search{
	float: left;
	padding-right: 55px;
}
.search_input_text{
	width: 400px;
	height: 35px;
	border: 1px solid red;
}
.search_button{
	width: 70px;
	height:37px;
	border: 1px solid red;
	background: red;
	color:#fff;
}
#area .links{ 
	width: 401px;
	float: right;
}
/*  导航栏  */
.nav_div{ 
	width: 100%;
	border-bottom: 2px solid red;
	background: #fff;
}
#nav{ 
	width: 1240px;
	margin: 0 auto;
	padding-top: 20px;
}
#nav_area{ 
	width: 1240px;
	height: 34px;
	line-height: 34px;
	position: relative;
}
#nav_area .nav1{ 
	float: left;
}
#nav_area .nav1 ul li{ 
	float: left;
	padding: 0 15px;
}
#nav_area .nav1 ul li a{ 
	font-size: 16px;
	color: #333;
}
#nav_area .nav1 ul li a:hover{ 
	color: red;
}
.xiena{ 
	position: absolute;
	right: -15px;
	bottom: -11px;
}
.qiandao{ 
	float: right;
	margin-right: 120px;
	position: relative;
}
.qiandao_img{
	position: absolute;
	top: 35px;
	right: -120px;
	display: none;
	z-index: 6666;
}
.qiandao:hover .qiandao_img{
	display: block;
}
#main{ 
	width: 100%;
}	
.footer2_div{ 
	width: 100%;
	background: #fff;
	border-top: 2px solid red;
}
.footer_2{
	width: 800px;
	margin: 0 auto;
	padding-top: 30px;
	text-align: center;
}
.footer_2 ul{
	padding-top: 10px;
	text-align: center;
}
.footer_2_two{ 
	width: 625px;
	margin: 0 auto;
}
.footer_2_three{
	width: 300px;
	margin: 0 auto;
}
.footer_2 ul li{
	float: left;
	padding-left: 10px;
	font-size: 12px;
	color: #666;
}
.footer_2 ul li a{
	font-size: 12px;
}
.footer_2 ul li a:hover{
	text-decoration: underline;
	color: #666;
}
.a{ 
	width: 34px;
	height: 100%;
	background: #000;
	position: relative;
	position: fixed;
	z-index: 9999;
	top: 0;
	right: 0;
}
.hidden_a{
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background: red;
	position: absolute;
	right: 34px;
	bottom: 0px;
	display: none;
	font-size: 14px;
}
.hidden_a_img{
	width: 100px;
	height: 100px;
	line-height: 80px;
	background: #fff;
	position: absolute;
	right: 36px;
	top: 0px;
	display: none;
}
.a>ul>.imgpo{
	position: relative;
}
.a>ul>.imgpo:hover .hidden_a_img{
	display: block;
}
.a>ul>li{ 
	margin: 0 auto;
	text-align: center;
	width: 34px;
	height: 40px;
	line-height: 55px;
	position: relative;
}
.a>ul>li:hover .hidden_a{ 
	background: red;
	display: block;
}
.a>ul>li:hover{
	background: red;
}
.a>ul>li>a>p{ 
	line-height: 17px;
}
.a>ul>li>a{ 
	color: #fff;
}
.a_top{ 
	margin-top: 50px;
}
.a_bottom{ 
	position: absolute;
	bottom: 50px;
	right: 0;
	width: 34px;
}
/*  返回顶部  */
.back_top{ 
	width: 34px;
	height: 40px;
	line-height: 40px;
	position: fixed;
	right: 0;
	bottom: 0;
	display: none;
	margin-bottom: 10px;
	text-align: center;
}
.back_top:hover{ 
	background: red;
}
.back_top:hover .hidden_a{
	display: block;
}
.back_top a:hover{ 
	color: #fff;
}
/*  隐藏的搜索框  */
.hidden_big_search{ 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 73px;
	background:#fff;
	display: none;
	box-shadow:2px 1px 3px rgba(0,0,0,0.3);
	z-index: 2;
}
.hidden_big_search a{ 
	color: #333;
	font-size: 12px;
}
.hidden_big_search a:hover{ 
	color: red;
}
.hidden_big_search ul li{ 
	padding: 0 10px;
}

.hidden1_left{ 
	float: left;
}
.hidden1{ 
	height: 35px;
	line-height: 35px;
	border-bottom: 3px solid red;
}
.hidden1_bor{ 
	width: 1200px;
	margin: 0 auto;
}
.top_search_div{ 
	float: right;
}
.hidden_search_input_text{
	width: 200px;
	height: 17.5px;
	border: 1px solid red;
}
.hidden_search_button{
	width: 35px;
	height:20px;
	border: 1px solid red;
	background: red;
	color:#fff;
}
.hidden1_left>ul>li{ 
	float: left;
}
.hidden2{ 
	width: 1200px;
	margin: 0 auto;
	height: 35px;
	line-height: 35px;
}
.hidden2 ul li{ 
	float: left;
}
.imglist{
	min-height: 620px;
}
.tab{
 	width: 1200px;
 	margin: 30px auto;
}
.tab .tab_menu{
	height: 30px;
	width: 1200px; 
}
.tab .tab_menu ul li{
 	float: left;
 	width: 99px;
 	text-align: center;
 	line-height: 30px;
}
.tab .tab_menu ul li:last-child{
 	width: 100px;
}
.tab .tab_menu ul li.on{
	/*width: 60px;*/
	/*text-align: left;*/
	background: red;
	color: #fff;
}
.tab .tab_box > div{
 	width: 1200px;
 	height: auto;
 	display: none; /*将三个内容框架全隐藏，通过下面的:first-child属性只将第一个框架内容显示出来*/
}
.tab .tab_box > div:first-child{
 	display: block;
}
.user_jy47_tp024 .floor-cot a {
    display: block;
    overflow: hidden;
    position: absolute;
}
.user_jy47_tp024 .floor-cot {
    width: 272px;
}
.user_jy47_tp024 .floor-cot a {
    opacity: 1;
    transition: all 0.5s ease 0s;
}
.user_jy47_tp024 .floor-cot:hover a {
    opacity: 0.3;
    transition: all 0.5s ease 0s;
}
.user_jy47_tp024 .floor-cot a:hover {
    opacity: 1;
    transition: all 0.5s ease 0s;
}
.user_jy47_tp024 .floor-cot a .aaleft {
    background: #ff0 none repeat scroll 0 0;
    height: 0;
    position: absolute;
    transition: all 0.7s ease 0s;
    width: 2px;
}
.user_jy47_tp024 .floor-cot a .aaright {
    background: #ff0 none repeat scroll 0 0;
    height: 0;
    position: absolute;
    transition: all 0.7s ease 0s;
    width: 2px;
}
.user_jy47_tp024 .floor-cot a .aatop {
    background: #ff0 none repeat scroll 0 0;
    height: 2px;
    position: absolute;
    transition: all 0.7s ease 0s;
    width: 0;
}
.user_jy47_tp024 .floor-cot a .aabottom {
    background: #ff0 none repeat scroll 0 0;
    height: 2px;
    position: absolute;
    transition: all 0.7s ease 0s;
    width: 0;
}
.user_jy47_tp024 .floor-cot a:hover .aaleft {
    height: 100%;
    transition: all 0.7s ease 0s;
}
.user_jy47_tp024 .floor-cot a:hover .aaright {
    height: 100%;
    transition: all 0.7s ease 0s;
}
.user_jy47_tp024 .floor-cot a:hover .aatop {
    transition: all 0.7s ease 0s;
    width: 100%;
}
.user_jy47_tp024 .floor-cot a:hover .aabottom {
    transition: all 0.7s ease 0s;
    width: 100%;
}
.user_jy47_tp024 .floor-cot a img {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    transform: scale(1, 1);
    transition: all 1.2s ease 0s;
    z-index: 3;
}
.user_jy47_tp024 .floor-cot a:hover img {
    opacity: 0;
    transform: scale(1.2, 1.2);
    transition: all 1.2s ease 0s;
}
.tab_box ul li{
	float: left;
	width: 272px;
	height: 348px;
	margin: 13px;
	border: 1px solid transparent;
	position: relative;
	z-index: 1;
	overflow: hidden;
	background: #fafafa;
}

.tab_box ul li img{
	width: 272px;	
}

.jrgx_text_left{ 
	float: left;
	margin: 3px 0 0 10px;
}
.jrgx_text_left>span>a{ 
	color: #333;
}
.jrgx_text_left>span>a:hover{ 
	text-decoration: underline;
}
.jrgx_text_left>p{ 
	font-size: 16px;
	color: red;
	padding-top: 10px;
}
.jrgx_text_right{ 
	float: right;
	position: relative;
	width: 100px;
}
.jrgx_text_right span{ 
	position: absolute;
	right: 10px;
	top: 4px;
}
.jrgx_text_right>p{ 
	position: absolute;
	right: 10px;
	top: 34px;
}
.jrgx_text_right>p>a{ 
	font-size: 14px;
	color: #777;
}
.jrgx_text_right>p>a:hover{ 
	color: red;
}
